<nav class="bg-white border-gray-200 shadow dark:bg-gray-800">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3"
  >
    <a href="/" class="flex items-center">
      <img src="/logo.png" class="h-10 mr-3" alt="Issue Tracker" />
      <span
        class="self-center text-xl font-bold whitespace-nowrap dark:text-white"
        >ISSUE TRACKER
        
      >
    </a>
    
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-user"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-800 dark:border-gray-700"
        style="margin-right: 250px"
      >
        <li>
          <a
            href="/"
            class="block text-lg py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/projects"
            class="block py-2 text-lg pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Projects</a
          >
        </li>
        <li>
          <a
            href="/projects/new"
            class="block py-2 text-lg pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Create Project</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  class="flex justify-center ... bg-cover bg-no-repeat bg-[url('/login.jpg')] bg-blend-multiply"
  style="padding: 100px 100px"
>
  <div
    class="p-11 bg-white border border-transparent hover:border-blue-500 border-2 rounded-xl shadow bg-white border-gray-200 shadow dark:bg-gray-800 border-fuchsia-50"
    style="width: 400px"
  >
    <form class="space-y-6" action="/projects" method="POST">
      <h5
        class="text-3xl font-semibold text-center text-gray-900 dark:text-white"
      >
        Create New Project
      </h5>
      <div>
        <label
          for="name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Name</label
        >
        <input
          type="text"
          id="name"
          name="name"
          class="bg-gray-50 border border-transparent text-gray-900 text-sm rounded-lg focus:ring-7 focus:outline-none focus:ring-blue-600 dark:focus:ring-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-transparent dark:placeholder-gray-400 dark:text-white"
          placeholder="Project Name"
          required
        />
      </div>
      <div>
        <label
          for="description"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Description</label
        >
        <textarea
          id="description"
          name="description"
          rows="3"
          class="bg-gray-50 border border-transparent text-gray-900 text-sm rounded-lg focus:ring-7 focus:outline-none focus:ring-blue-600 dark:focus:ring-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-transparent dark:placeholder-gray-400 dark:text-white"
          placeholder="Write your Description here..."
        ></textarea>
      </div>
      <div>
        <label
          for="author"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Author</label
        >
        <input
          type="text"
          id="author"
          name="author"
          class="bg-gray-50 border border-transparent text-gray-900 text-sm rounded-lg focus:ring-7 focus:outline-none focus:ring-blue-600 dark:focus:ring-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-transparent dark:placeholder-gray-400 dark:text-white"
          placeholder="Author Name"
          required
        />
      </div>

      <button
        type="submit"
        data-modal-target="popup-modal"
        data-modal-toggle="popup-modal"
        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-indigo-700 dark:focus:ring-gray-500"
      >
        Create
      </button>
    </form>
  </div>
</div>
