<nav class="bg-white border-gray-200 shadow dark:bg-gray-800">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3"
  >
    <a href="/" class="flex items-center">
      <img src="/logo.png" class="h-10 mr-3" alt="Issue Tracker" />
      <span
        class="self-center text-xl font-bold whitespace-nowrap dark:text-white"
        >ISSUE TRACKER
        
    </a>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-user"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-800 dark:border-gray-700"
        style="margin-right: 200px"
      >
        <li>
          <a
            href="/"
            class="block py-2 text-lg pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/projects"
            class="block py-2 text-lg pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Projects</a
          >
        </li>
        <li>
          <a
            href="/projects/new"
            class="block py-2 text-lg pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            aria-current="page"
            >Create Project</a
          >
        </li>
        <li>
          <a
            href="/issues/new"
            class="block text-lg py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
            >Create Issues</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  class="flex justify-center ... bg-cover bg-no-repeat bg-[url('/issue.jpg')] bg-blend-multiply bg-gray-400"
  style="padding: 50px 50px"
>
  <div
    class="bg-white border border-transparent hover:border-blue-500 border-2 rounded-xl shadow bg-white border-gray-200 shadow dark:bg-gray-800 border-fuchsia-50"
    style="width: 500px"
  >
    <div class="p-5">
      <h3 class="mb-5 text-3xl font-semibold text-gray-900 dark:text-white">
        Create a new Issue For Project
      </h3>
      <form class="space-y-3" action="/issues/" method="post">
        <input type="hidden" name="projectId" value="<%= project._id %>" />
        <div>
          <label
            for="title"
            class="block mb-2 text-base font-semibold text-gray-900 dark:text-white"
            >Title</label
          >
          <input
            type="text"
            name="title"
            id="title"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            placeholder="Enter Your Title"
            
          />
        </div>
        <div>
          <label
            for="Description"
            class="block mb-2 text-base font-medium text-gray-900 dark:text-white"
            >Description</label
          >
          <textarea
            id="Description"
            rows="3"
            name="description"
            class="bg-gray-50 border border-transparent text-gray-900 text-base rounded-lg focus:ring-7 focus:outline-none focus:ring-blue-600 dark:focus:ring-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-transparent dark:placeholder-gray-400 dark:text-white"
            placeholder="Write your description here..."
          ></textarea>
        </div>
        <div>
          <label
            for="Label"
            class="block mb-2 text-base font-medium text-gray-900 dark:text-white"
            >Label</label
          >
          <input
            type="text"
            name="labels"
            id="Label"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            placeholder="Enter Your Label"
            
          />
        </div>
        <div>
          <label
            for="Author"
            class="block mb-2 text-base font-medium text-gray-900 dark:text-white"
            >Author</label
          >
          <input
            type="text"
            name="author"
            id="Author"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            placeholder="Author Name"
            
          />
        </div>
        <div class="flex items-center justify-center">
          <button
            type="submit"
            class="w-full px-5 mt-2 py-2.5 text-lg font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
